// MOST COMMONLY USED COLORS THROUGHOUT THEME
// =============================================================================

$black: #333;
$white: #fff;
$grey: #989898;
$green: rgb(52, 116, 59);
$red: #d52a32;
$blue: #5ec7eb;

$link: $white;

$yellowGradient: #ffd400;

$gradientA: #fdb916 50%;
$gradientB: #ffd400 78%;
$gradientC: #ffd400 75%;
$gradientD: #faa61a 115%;


$light-grey: #efefef;
$box-grey: #a09d9d;
$focus-color: $blue;
$focus: $focus-color;

$body-text: $black;

// ======================
// DEFAULT SYSTEM COLORS

$system__pink: #F9D5DB; // For errors i.e.
$system__blue: #D9EDF7; // For system messages i.e.
