// MOST COMMONLY USED COLORS THROUGHOUT THEME
// =============================================================================

$black: #000;
$white: #fff;
$grey: #777777;
$green: #09896f;
$red: #d52a32;
$blue: #5ec7eb;

$link: $white;


$light-grey: #efefef;
$box-grey: #a09d9d;
$focus-color: $blue;
$focus: $focus-color;

$body-text: $black;

// ======================
// DEFAULT SYSTEM COLORS

$system__pink: #F9D5DB; // For errors i.e.
$system__blue: #D9EDF7; // For system messages i.e.
