// GUTTERS
// =============================================================================
$gutter: 15px;
$gutter2: 30px;

// GRID STYLING
// =============================================================================
body{
  margin: 0;
  background-color: $blue;
  .grid {

  }
}
