// GUTTERS
// =============================================================================
$gutter: 20px;
$gutter2: 30px;

// GRID STYLING
// =============================================================================
body{
  margin: 0;
  background-color: $blue;

  .grid {
	  clear: both;
	  padding-left: $gutter;
	  padding-right: $gutter;
	  @include breakpoint($tablet){
	    padding-left: $gutter/2;
	    padding-right: $gutter/2;
	  }
	  section{
	  	width: 70%;
    	margin: $gutter*2 auto;
    	h1{ 
    		margin: $gutter*2 0 0;
    		font-size: 80px;
    	}
    	h2{
    		font-size: $gutter;
    		margin-bottom: $gutter;
    	}
	  }
	}
}
