// GUTTERS
// =============================================================================
$gutter: 20px;
$gutter2: 30px;

// GRID STYLING
// =============================================================================
body{
  margin: 0;
  background-color: $blue;

  .grid {
	  clear: both;
	  padding-left: $gutter;
	  padding-right: $gutter;
	  @include breakpoint($tablet){
	    padding-left: $gutter/2;
	    padding-right: $gutter/2;
	  }
	}
}
