// LINK STYLES
// =============================================================================

a,
a:link,
a:visited, {
  text-decoration: none;
  color: $link;
  &:hover {
    text-decoration: none;
    @include transition(all 0.3s ease 0s);
  }
}
