// BASE FONT
// =============================================================================
html {
  font-family: $font-family;
  font-size: 18px;
}


// HEADER STYLES
// =============================================================================
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $white;
}

h1,h2{
	text-align: center;
}

// TEXT STYLES
// =============================================================================
b, strong { font-weight: bold; }
em { font-style: italic; }

p{
  font-family: $font-family;
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;
  margin: $gutter 0;
}

sup, sub {
  font-size: 75% !important;
}
