// ABOUT SECTION/PAGE
// =============================================================================

.aboutme{
  position: relative;
  .text-wrapper{
    float: left;
    width: 60%;
    @include transition(all 0.3s ease);
  }
  .img-wrapper{
    background: url('src/images/NellyMoseki.jpeg') no-repeat top center;
    background-size: cover;
    float: right;
    width: 30%;
    height: 330px;
    position: absolute;
    left: 65%;
    top: 30%;
    @include border-radius(50%);
    @include transition(all 0.3s ease);
    &:hover{
      @include transform(1.1);
    }
  }
}
