// HEADER SECTION
// =============================================================================

header{
  width: 100%;
  height: $gutter*3;
  top: 0;
  position: fixed;
  z-index: 9999;
  opacity: 0.85;
  background-color: $grey;
  @include breakpoint($mobile){
    height: 400px;
    background-color: $header-grey;
  }
  
  .menu-toggle{
    width: 100%;
    height: $gutter*2;
    background-color: $black;
    @include breakpoint($tablet-up){
      display: none;
    }
    i{
      color: $blue;
    }
  }
}
