// SECTIONS
// ============================================================

.portfolio,
.skills,
.aboutme,
.wod{
	width: 70%;
  @include clearfix;
	margin: $gutter*5 auto;
  h1{ 
    margin: $gutter*2 0 $gutter*2;
    font-size: $gutter*4;
    text-transform: uppercase;
    span[class^="char"]{
      @include transition(all 0.3s ease);
      margin-right: $gutter;
      &:hover{
        @include transform(1.1);
      }
    }
  }
  h2{
    font-size: $gutter;
    margin-bottom: $gutter;
  }
  .proj-wrapper, 
  .video-wrapper{
    margin-top: $gutter*2;
  }
}