// SECTIONS
// ============================================================

.portfolio,
.skills,
.aboutme,
.wod{
	width: 70%;
  @include clearfix;
	margin: $gutter*5 auto;
  h1{ 
    margin: $gutter*2 0 0;
    font-size: $gutter*4;
    text-transform: uppercase;
    span[class^="char"]{
      @include transition(all 0.3s ease);
      margin-right: $gutter;
      &:hover{
        @include transform(1.1);
      }
    }
  }
  h2{
    font-size: $gutter;
    margin-bottom: $gutter;
  }
  .proj-wrapper, 
  .video-wrapper{
    margin-top: $gutter*2;
  }
}

/*
- Social media section on the left side of the screen fixed
*/
.fixed-links {
  position: fixed;
  top: 20%;
  bottom: 0;
  width: $gutter*3;
  .social-links{
    background-color: $black;
    @include transition(all 0.3s ease);
    li{ 
      text-align: center;
      padding: $gutter/2 0;
      a{ @include transition(all 0.3s ease); }
      &:hover{
        background-color: $white;
        a{ color: $black; }
      }
    }
  }
}




